<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load ssi_relative %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Online Archive of California</title>
<link rel="stylesheet" type="text/css" href="/yui/build/reset-fonts-grids/reset-fonts-grids.css" />
<link rel="stylesheet" type="text/css" href="/css/oac.css" />
</head>

<body>
<a name="top"></a>
<p><a class="jump-to-content" href="#content">Jump to Content</a></p>

<!-- BEGIN PAGE CLASS -->
<div class="static">

<!-- BEGIN YUI CONTAINER -->
<div id="custom-doc">

<!-- BEGIN YUI HEADER -->
<div id="hd">

<!-- BEGIN TOP HEADER -->
{% ssi_rel '' includes/top-header.html %}
<!--#include virtual="/includes/top-header.html" -->
<!-- END TOP HEADER -->

<!-- BEGIN TOP NAVIGATION -->
{% ssi_rel '' includes/topnav.html %}
<!--#include virtual="/includes/topnav.html" -->
<!-- END TOP NAVIGATION -->

</div>
<!-- END YUI HEADER -->

<!-- BEGIN YUI BODY -->
<div id="bd">
<a name="content"></a>

<!-- BEGIN ROW 1 -->
<div class="row1">
<div class="row1-left">

<div class="header-box">

<div class="heading">Contact Us</div>

<p><strong>Thanks for your feedback</strong></p>
</div>

<div class="content-box">

{% if refer_page %}
<a href='{{ refer_page }}'>Return to previous page</a>
{% endif %}

</div>
</div>

<div class="row1-right">
<div class="row1-right-content">

<div class="heading">Contact Information</div>

<div><strong>Mailing Address</strong><br><br>
    Online Archive of California<br>
    California Digital Library<br>
    Office of the President, University of California<br>
    415 20th Street, 4th Floor<br>
    Oakland, CA 94612-2901<br>
</div>
<br>
<br>

<div><strong>Phone/Fax</strong><br><br>
    CDL Helpline: (510) 987-0555<br>
    CDL Administration: (510) 987-0425<br>
    Fax: (510) 893-5212<br>
</div>

</div>
</div>

</div>
<!-- END ROW 1 -->
	
</div>
<!-- END YUI BODY -->

<!-- BEGIN YUI FOOTER -->
<div id="ft">

<!-- BEGIN FOOTER -->
{% ssi_rel '' includes/footer.html %}
<!--#include virtual="/includes/footer.html" -->
<!-- END FOOTER -->

</div>
<!-- END YUI FOOTER -->

</div>
<!-- END YUI CONTAINER -->

</div>
<!-- END PAGE CLASS -->

</body>
</html>
